// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// pastel colors
$pink:   #fea3aa;
$orange: #f8b88b;
$yellow: #faf884;
$green:  #baed91;
$blue:   #b2cefe;
$gray:   #606060;

html {
 height: 100%;
}

body {
 padding: 2em;
}

.bg-blue {
  background: linear-gradient($blue, white );
}

.bg-orange {
  background: linear-gradient($orange, white );
}

.bg-yellow {
  background: linear-gradient($yellow, white );
}

.bg-green {
  background: linear-gradient($green, white );
}

.bg-pink {
  background: linear-gradient($pink, white );
}

.content {
  padding: 2em;
  margin: 0 auto;
  color: $gray;
}

strong {
  font-size: 80px;
}
